{% extends 'common/base.html' %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">

                <h2 class="mb-4">{{ user_data.full_name }}'s {{ list_type }} shelf</h2>

                {% include 'books/book_list.html' %}

            </div>
        </div>
    </div>


{% endblock %}



{#                {% elif source_view == 'BookListView' %}#}
{#                    <h2 class="mb-4">All Books</h2>#}
{#                {% elif source_view == 'ShowAuthorBooksView' %}#}
{#                    <h2 class="mb-4">{{ author.name }}'s books</h2>#}
{#                {% elif source_view == 'UserReadingListView' %}#}
{#                    <h2 class="mb-4">{{ user_data.full_name }}'s {{ list_type }} shelf</h2>#}
{#                {% else %}#}
{#                    <h2 class="mb-4">Default Header</h2>#}
{#                {% endif %}#}