{% extends 'common/base.html' %}
{% block content %}
    <div class="container pb-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md- col-sm-12 mx-auto">
                <h1 class="text-center mb-4">Add Book</h1>
                <form method="post" enctype="multipart/form-data" class="mb-5">
                    {% csrf_token %}
                    <div class="mx-auto">
                        {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {% if field.name == 'summary' %}
                                    <textarea
                                            name="{{ field.html_name }}"
                                            id="{{ field.id_for_label }}"
                                            class="form-control"
                                            rows="3"
                                            placeholder="{{ field.field.widget.attrs.placeholder }}"
                                    >{{ field.value|default_if_none:'' }}</textarea>
                                    {{ field.errors }}
                                {% elif field.name == 'authors' %}
                                    {{ field }}
                                    {{ field.errors }}
                                {% elif field.name == 'series' %}
                                    {{ field }}
                                    {{ field.errors }}
                                {% else %}
                                    {{ field.errors }}
                                    <input
                                            type="{{ field.field.widget.input_type }}"
                                            name="{{ field.html_name }}"
                                            id="{{ field.id_for_label }}"
                                            class="form-control"
                                            value="{{ field.value|default_if_none:'' }}"
                                            placeholder="{{ field.field.widget.attrs.placeholder }}"
                                    >
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="d-grid gap-2 mt-4 mb-4">
                            <button class="btn btn-dark" type="submit">Add Book</button>
                            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}