html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar, footer {
    background: linear-gradient(90deg, rgb(241, 201, 177) 0%, rgb(246, 196, 151) 50%, rgba(241, 201, 177) 100%);
}

.body-container {
    padding-top: 80px;
    height: 100%;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Merriweather', serif !important;
    background: rgb(255, 245, 235);
    background: -moz-linear-gradient(90deg, rgba(255, 245, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 245, 235, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 245, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 245, 235, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 245, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 245, 235, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff5eb", endColorstr="#fff5eb", GradientType=1);
    color: #333;
    overflow-x: hidden;
}

.fixed-left {
    position: sticky;
    top: 0;
    max-height: 100vh;
}

.scrollable-right {
    overflow-y: auto;
}

.cover-image {
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 350px;
    object-fit: cover;
}

.main {
    flex: 1;
}

.footer-one {
    background-color: #343a40;
    color: white;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.average-rating {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}

.rating-count-review {
    font-size: 1rem;
    margin-left: 1rem;
}

.stars i {
    font-size: 1.5rem;
}

.stars-my-rating i {
    font-size: 2rem;
}

.stars-color {
    color: #ffd124;
}

.text-container {
    position: relative;
    max-width: 100%;
}

.text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.btn-link {
    font-size: 0.875rem;
    cursor: pointer;
    font-weight: bold;
}

.review {
    background-color: #f5f5f5;
}

@media (min-width: 992px) {
    .book-cover-container {
        position: fixed;
        top: auto;
        left: 15px;
        width: auto;
    }

    .book-details-container {
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .book-cover-container {
        position: fixed;
        top: auto;
        left: auto;
        width: auto;
    }

    .book-details-container {
        margin-left: auto;
    }
}

.add-see-edit-comment-textarea {
    width: 100%;
    max-width: 500px;
}

.wide-search {
    width: 400px;
    left: 100px;
}

.reading_list_button {
    width: 180px;
}

.logo {
    height: 40px;
    width: auto;
}

button.hidden {
    display: none !important;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #f8f9fa;
}

.book-thumbnail {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.profile-container {
    background: rgb(255, 245, 235);
    background: -moz-linear-gradient(90deg, rgba(255, 245, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 245, 235, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 245, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 245, 235, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 245, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 245, 235, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff5eb", endColorstr="#fff5eb", GradientType=1);
}

.book-author-cover {
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.book-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.book-card:hover .book-title-overlay {
    opacity: 1;
}

.card-author-title {
    font-size: 1rem;
    font-weight: 600;
}


.custom-bg {
    background: linear-gradient(to right, #e2e8f0, #e5e7eb);
}

.custom-btn:hover {
    background-color: #f3e8ff !important;
    transition: background-color 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    .custom-bg {
        background: linear-gradient(to right, #1f2937, #111827);
        color: white !important;
    }

    .custom-btn {
        background-color: #374151 !important;
        color: white !important;
    }

    .custom-btn:hover {
        background-color: #4b5563 !important;
    }
}