{% load user_extras %}
{% load static %}
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a href="{% url 'home' %}" class="me-2">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="book">
        </a>
        <a class="navbar-brand" href="{% url 'home' %}">Book Nexus</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_superuser or user|has_group:'Librarians' or user|has_group:'Moderators' %}
                <a class="nav-link text-black" href="{% url 'admin:index' %}">Admin Panel</a>
        {% endif %}
        <form method="get" action="{% url 'search-books' %}" class="d-flex">
            <div class="input-group wide-search">
                <input type="text" name="q" placeholder="Search for books, authors, series ..." class="form-control">
                <button type="submit" class="btn btn-light">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_superuser or user|has_group:'Librarians' %}
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{% url 'create-book' %}">Add Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{% url 'author-create' %}">Add Author</a>
                    </li>
                {% endif %}
   
                <li class="nav-item">
                    <a class="nav-link text-black" href="{% url 'show-all-books' %}">Books</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{% url 'profile_details' request.user.pk %}">Profile</a>
                    </li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-success" href="{% url 'login' %}">Sign in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>