{% extends 'common/base.html' %}

{% block content %}

    <div class="custom-bg text-dark">
        <div class="d-flex align-items-center justify-content-center min-vh-90 px-2">
            <div class="text-center">
                <h1 class="display-1 fw-bold">403</h1>
                <p class="fs-2 fw-medium mt-4">Access Denied</p>
                <p class="mt-4 mb-5">You don't have permission to access this area</p>
                <a href="{% url 'home' %}"
                   class="btn btn-success">
                    Return to Home
                </a>
            </div>
        </div>
    </div>

{% endblock %}