    <div class="container-fluid py-4">
        <div class="row">
            <!-- Left Section: Cover -->
            <div class="col-12 col-md-4 col-lg-3 mb-8 book-cover-container">
                <!-- Book Cover -->
                <div class="position-relative pb-5">
                    <img src="{{ book.cover.url }}" alt="Book Cover" class="cover-image rounded img-fluid">
                    <!-- Dropdown positioned relative to the image -->
                    <div class="position-absolute w-100 d-flex justify-content-center">
                        {% include 'books/read-status-dropdown.html' %}
                    </div>
                </div>

                <!-- Rating Section -->
                <div class="text-center">
                    <div class="d-flex align-items-center stars-my-rating">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input id="input-{{ book.pk }}" name="rating" type="number" class="rating"
                               data-size="xs" data-book-id="{{ book.pk }}"
                               data-show-clear="true" data-show-caption="false" data-theme="krajee-fas"
                               data-url="{% url 'rate-book' book.pk %}"
                               {% if user_rating %}
                                   value="{{ user_rating }}"
                               {% endif %}
                        >
                    </div>
                </div>
            </div>

            <!-- Right Section: Details -->
            <div class="col-12 col-md-8 col-lg-9 book-details-container">
                <a href="" class="text-decoration-none">
                    <h5 class="text-muted">
                        {% if book.series_books.first.series.name %}
                            {% with book.series_books.first as series_book %}
                                {{ series_book.series.name|default:"" }}, #
                                {{ series_book.number }}
                            {% endwith %}
                        {% endif %}
                    </h5>
                </a>
                <h1 class="fw-bold">{{ book.title }}</h1>
                <h5 class="text-secondary">
                    {% if book.authors.exists %}
                        {% for author in book.authors.all %}
                            <small class="text-muted">
                                {{ author.name }}{% if not forloop.last %}, {% endif %}</small>
                        {% endfor %}
                    {% else %}
                        <small class="text-muted">Author of {{ book.title }}</small>
                    {% endif %}
                </h5>
                <div class="d-flex align-items-center my-3 mb-0 mt-0">
                    <span class="text-warning stars">
                        {% for i in "12345" %}
                            {% if average_rating >= forloop.counter %}
                                <i class="fas fa-star"></i>
                            {% elif average_rating >= forloop.counter0|add:0.5 %}
                                <i class="fas fa-star-half-alt"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <span class="average-rating">{{ average_rating|default:'' }}</span>
                    <span class="rating-count-review">
                        {% if rating_count != 1 %}
                            <small class="text-muted">{{ rating_count }} ratings</small>
                        {% else %}
                            <small class="text-muted">{{ rating_count }} rating</small>
                        {% endif %}
                    </span>
                </div>

                <div id="summary-container" class="text-container mb-3">
                    <p id="summary-text" class="text-truncate">
                        {{ book.summary }}
                    </p>
                    <button id="toggle-summary" class="btn btn-link p-0 text-dark text-decoration-none">
                        Show more ▼
                    </button>
                </div>

                <div class="d-flex flex-wrap gap-2 mb-4">
                    <h6>Genres</h6>
                    <span class="badge text-dark ">{{ book.genre }}</span>
                </div>

                <h6>Details</h6>
                <ul class="list-unstyled">
                    <li>{{ book.pages }} pages</li>
                    <li>First published {{ book.publication_date }}</li>
                </ul>
                <!-- Add reviews or other sections here -->

                {% include 'reviews/write-show-reviews.html' %}
            </div>
        </div>
    </div>